
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
 background: green;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 -webkit-transform: translate(-50%,-50%);
 -moz-transform: translate(-50%,-50%);
 -ms-transform: translate(-50%,-50%);
 -o-transform: translate(-50%,-50%);
}

.search-box-wrapper{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box-wrapper.active{
  width: 350px;
}
.search-box-wrapper input{
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.search-box-wrapper input.active{
  opacity: 1;
}
.search-box-wrapper input::placeholder{
  color: #a6a6a6;
}
.search-box-wrapper .search-btn{
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: green;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.search-box-wrapper .search-btn.active{
  background: green;
  color: #fff;
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  transform: translateY(-50%) rotate(360deg);
}
.search-box-wrapper .cancel-btn{
  color: rgb(59, 37, 37);
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 
  
}
.search-box-wrapper .cancel-btn.active{
  background: white;
  padding: 10px 15px ;
 
  border-radius: 5px;
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-box-wrapper .searchdata{
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
  text-align: center;
  padding-top: 7px;
  
}
.search-box-wrapper .searchdata.active{
  display: none;
}